.auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-image: url('https://cdn.sortiraparis.com/images/1001/100789/834071-too-restaurant-too-hotel-paris-photos-menu-entrees.jpg');
  background-size: cover;
  background-position: center;
}

mat-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

mat-card-title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.auth-form-field {
  width: 100%;
  margin-bottom: 15px;
}

.auth-submit-button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  font-size: 1.1em;
}

