<div class="auth-form-container">
  <div class="card bg-light">
    <div class="card-header pt-4 text-center">
      <h1 class="bold-heading">{{ isRegister ? 'Signup' : 'Login' }}</h1>
    </div>
    <div class="card-body">
      <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
        
        <!-- Email Field -->
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input id="email" formControlName="email" type="email" class="form-control" [ngClass]="{'is-invalid': authForm.get('email')?.invalid && authForm.get('email')?.touched}" required />
          <div *ngIf="authForm.get('email')?.invalid && authForm.get('email')?.touched" class="invalid-feedback">
            Invalid email
          </div>
        </div>

        <!-- Password Field -->
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input id="password" formControlName="password" type="password" class="form-control" [ngClass]="{'is-invalid': authForm.get('password')?.invalid && authForm.get('password')?.touched}" required />
          <div *ngIf="authForm.get('password')?.invalid && authForm.get('password')?.touched" class="invalid-feedback">
            Invalid password
          </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary w-100" [disabled]="authForm.invalid">
          {{ isRegister ? 'Signup' : 'Login' }}
        </button>
      </form>
    </div>

    <!-- Card Actions -->
    <div class="card-footer text-center">
      <div *ngIf="!isRegister">
        <span>Don't have an account?</span>
        <a class="btn btn-link" routerLink="/auth/register">Sign up here</a>
      </div>
      <div *ngIf="isRegister">
        <span>Already have an account?</span>
        <a class="btn btn-link" routerLink="/auth/login">Log in here</a>
      </div>
    </div>
  </div>
</div>
