.auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-image: url('https://cdn.sortiraparis.com/images/1001/100789/834071-too-restaurant-too-hotel-paris-photos-menu-entrees.jpg');
  background-size: cover;
  background-position: center;
}

.bold-heading {
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif ;
}