<div class="dialog-title">{{ recipe.name }}</div>
<div class="dialog-content">
  <div class="recipe-header">
    <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="recipe-image">
    <div class="recipe-info">
      <div class="sub-title-recipe">{{ recipe.description }}</div>
    </div>
  </div>

  <div class="ingredients-section">
    <div class="title-ingredients">Ingredients list</div>
    <table class="ingredients-table">
      <thead>
        <tr>
          <th>Quantity</th>
          <th>Ingredient</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingredient of recipe.ingredients">
          <td>{{ ingredient.amount }}</td>
          <td>{{ ingredient.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="dialog-actions">
  <button type="button" class="close-button" (click)="close()">Close</button>
</div>
