<div class="side-bar">
    <ul class="side-bar-list">
      <li *ngFor="let item of mainMenu" [routerLink]="item.router" [queryParams]="item.query">
        <div class="list-wrapper-item">
          <i class="uil" [ngClass]="item.icon"></i>
          <span class="side-bar-list-label">{{ item.name }}</span>
        </div>
      </li>
    </ul>
    <div class="side-bar-separator"></div>
    <ul class="side-bar-list">
      <li *ngFor="let item of customOptions">
        <div class="list-wrapper-item">
          <i class="uil" [ngClass]="item.icon"></i>
          <span class="side-bar-list-label">{{ item.name }}</span>
        </div>
      </li>
    </ul>
    <ul class="side-bar-list">
      <li (click)="logout()">
        <div class="list-wrapper-item">
          <i class="uil uil-sign-out-alt"></i>
          <span class="side-bar-list-label">Logout</span>
        </div>
      </li>
    </ul>
  </div>