<div class="card-recipe recipe" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="recipe-card">        
        <mat-card-content (click)="viewDetails(recipe)">
            <img mat-card-image appImgBroken [src]="recipe.imagePath" alt="{{recipe.name}}" class="cover">
            <div class="title-recipe">{{recipe.name | truncate:29}}</div>
            <div class="sub-title-recipe">{{recipe.description | truncate:32}}</div>
        </mat-card-content>
        <mat-card-actions>            
            <button mat-button (click)="addToFavorites(recipe)" class="play-btn">
                <i class="uil uil-heart"></i>
            </button>
            <button mat-button (click)="editRecipe(recipe)" class="play-btn">
                <i class="uil uil-edit"></i>
            </button>
            <button mat-button (click)="deleteRecipe(recipe)" class="play-btn">
                <i class="uil uil-trash"></i>
            </button>
        </mat-card-actions>
    </mat-card>
</div>