.recipe-card {
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

mat-card-content img {
    width: 100%;
}

.cover {
    height: 200px;
    object-fit: cover;
}

.title-recipe {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 0.5rem;
    margin-bottom: 0.5em;
}

.sub-title-recipe {
    color: #666;
    font-size: 0.9em;
    margin-bottom: 0.5rem;
}

.play-btn {
    display: flex;
    align-items: center;
}
