.recipe-card {
    width: 300px; /* Ajusta el ancho según tus necesidades */
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cover {
    height: 200px; /* Ajusta la altura de la imagen */
    object-fit: cover; /* Asegura que la imagen cubra el área */
}

.title-recipe {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 0.5rem;
    margin-bottom: 0.5em;
}

.sub-title-recipe {
    color: #666;
    font-size: 0.9em;
    margin-bottom: 0.5rem;
}

.play-btn {
    display: flex;
    align-items: center;
}
