<div class="section-generic">
    <h1 class="section-generic title">{{title}}</h1>

    <div class="section-generic recipes-zone">
        <ul class="recipe-list">
            <li class="recipe-item" *ngFor="let recipe of dataRecipes">
                <app-card-recipe class="add-recipe-card" [recipe]="recipe" (click)="viewDetails(recipe)"></app-card-recipe>
            </li>
            <li class="recipe-item">
                <div class="add-recipe-card" (click)="addRecipe()">
                    <i class="uil uil-plus"></i>
                </div>
            </li>
        </ul>
    </div>
</div>
